  <nav class="nav-bar">
    <div class=" nav container">
      <span> <%= image_tag "logo.png", class: "img " %></span>
      <ul>
        <li> <%= link_to "Home", root_path, class: "menu_item"%></li>
        <li><%= link_to "Add Category",  new_category_path, class: "btn btn-warning"%></li>
      </ul>
    </div>
  </nav>
