<div class="container form-new mt-5 p-5" >
  <h2>Add new Category</h2>
  <%= simple_form_for @category do |f| %>
    <%= f.input :name, placeholder: "Type category name" %>
    <%= f.submit class: "btn btn-info" %>
  <% end %>
</div>
